body {
  background: rgb(0, 0, 0);
  font: normal 20px Monospace;
  color: aliceblue;
  margin: 0;
  text-align: center;
}
#main {
  background-color: rgba(63, 63, 63, 0.733);
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  width: 90vw;
  max-width: 1000px;
}
#atributes {
  background-color: black;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#atributename {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}
#atributevalue {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.input1 {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid white;
  max-width: 50px;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: white;
}
.input2 {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
  max-width: 50px;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: black;
}
#stats {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
#statsname {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}
#statsvalue {
  display: flex;
  flex-flow: column;
  padding: 5px;
}
p {
  margin: 1px;
  border-bottom: 4px;
  width: fit-content;
  font-size: 1em;
  padding: 0;
}
